doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.4/css/all.css' integrity='sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm' crossorigin='anonymous')
  title thatskygameid
  style.
    body, html {
      background-image: url("/images/AP14.png");
      background-repeat: no-repeat; /* Do not repeat the image */
      background-position: center; /* Center the image */
      background-size: cover; /* Resize the background image to cover the entire container */
    }
    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    .image-container {
      text-align: center;
      width: 100%;
    }
    .links-container {
      display: flex;
      flex-direction: column;
      jusify-content: center;
      align-items: center;
    }
    .link {
      min-width: 50% !important;
    }
    @media (min-width: 1200px) .container {
      max-width: 1140px;
    }
    @media (min-width: 992px) .container {
      max-width: 960px;
    }
    @media (min-width: 768px) {
      .container {
        max-width: 720px;
      }
      .link {
        width: 100%;
      }
    }
    @media (min-width: 576px) {
      .container {
        max-width: 540px;
      }
    }
body
  .container
    .image-container
      img.w3-margin(src='https://cdn.discordapp.com/attachments/842310865704583188/976302508324552754/278322985_756405632009622_6702498855625597015_n.jpg' alt='Season of Performance' max-width='100%' height='150px' style='border-radius: 50%; alt=')
      div.w3-round-large(style='background-color:rgba(0,0,0,0.5)')
        p.w3-xlarge.w3-text-white <br> Selamat Datang di <a href='https://thatskygame.com' target='_blank'><img src='/images/sky-logo-white.png' height='50px'></a>
        p.w3-large.w3-text-white
          strong Sebuah petualangan sosial yang menyatukan orang-orang terkasih.
        p.w3-medium.w3-text-white Sky adalah game iPhone terbaik tahun ini dan game multi-format, multipemain terbaru dari <a href="https://thatgamecompany.com/" target="_blank">thatgamecompany</a>. Tersedia di <a href="https://apps.apple.com/app/id1462117269" target="_blank">iOS</a>, <a href="https://play.google.com/store/apps/details?id=com.tgc.sky.android" target="_blank">Google Play</a>, dan <a href="https://www.nintendo.com/store/products/sky-children-of-the-light-switch/" target="_blank">Nintendo Switch</a>, dengan format lain menyusul. 
        br
      .links-container
        a.w3-button.w3-hover-blue.w3-large.w3-round-xxlarge.w3-white.w3-border.link(style='transition: background .5s ease-in-out, color .5s ease-in-out' href='https://www.facebook.com/skychildrenofthelightID' target='_blank')
          i.fab.fa-facebook &nbsp;
          | Facebook
        br
        a.w3-button.w3-hover-blue.w3-large.w3-round-xxlarge.w3-white.w3-border.link(style='transition: background .5s ease-in-out, color .5s ease-in-out' href='https://www.instagram.com/thatskygameid/' target='_blank')
          i.fab.fa-instagram &nbsp;
          | Instagram
        br
        a.w3-button.w3-hover-blue.w3-large.w3-round-xxlarge.w3-white.w3-border.link(style='transition: background .5s ease-in-out, color .5s ease-in-out' href='https://www.tiktok.com/@thatskygameid' target='_blank')
          i.fab.fa-tiktok &nbsp;
          | TikTok
        br
        a.w3-button.w3-hover-blue.w3-large.w3-round-xxlarge.w3-white.w3-border.link(style='transition: background .5s ease-in-out, color .5s ease-in-out' href='https://discord.gg/thatskygame' target='_blank')
          i.fab.fa-discord &nbsp;
          | Discord
        br
        a.w3-button.w3-hover-blue.w3-large.w3-round-xxlarge.w3-white.w3-border.link(style='transition: background .5s ease-in-out, color .5s ease-in-out' href='https://www.thatskygame.com/' target='_blank')
          i.fas.fa-window-maximize &nbsp;
          | Blog
        br
